.mainImage {
  width: 240px;
  height: 320px;
  display: block;
  position: relative;
  top: 140px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
    
}

.title {
  text-align: center;
  font-size: 60px;
  margin-top: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tabs {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 35px;
  gap: 100px;
  display: flex;
  justify-content: center;

}
.tab1 {
  text-decoration: none;
  color: gold;
}
.tab1:hover {
  color: silver;
}

.tab2 {
  text-decoration: none;
  color: gold;
}
.tab2:hover {
  color: silver;
}

.tab3 {
  text-decoration: none;
  color: gold;
}
.tab3:hover {
  color: silver;
}

.tab4 {
  color: gold;
  text-decoration: none;
}
.tab4:hover {
  color: silver;
}
.tab5 {
  color: gold;
  text-decoration: none;
}
.tab5:hover {
  color: silver;
}

.content {
  text-align: center;
  font-size: 25px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.noam {
  color: black;
  text-decoration: none;
}